<div class="container">
<mat-toolbar>
  <span><br>
    <br>
  <img style="float: right; margin: 0px 0px 15px 15px;" src="assets/images/smartwork_logo.png"  width="150" />
  <img style="float: right; margin: 0px 0px 15px 15px;" src="assets/images/logo_ntnu.png"   width="150" />
  </span>
</mat-toolbar>
<br>
<div class="message">
  <h1>Inklusjonskriterier</h1>
  <p>
    Du kan dessverre ikke delta i studien, siden du ikke tilfredsstiller alle inklusjonskriteriene. Tusen takk for at du
    svarte på spørsmålene.
  </p>
</div>
</div>

