<div class="container">
  <div class="message-box">
    <h1 style="text-align: center;" class="title">Inklusjonskriterier</h1>
    <div class="content">
      <p class="message-text">
        Du kan dessverre ikke delta i studien da du ikke oppfyller alle inklusjonskriteriene (hvis du oppdager at du krysset feil på noen av spørsmålene kan du gå tilbake og svare på nytt).
      </p>
      <div *ngIf="reasons.length > 0">
        <p class="message-text">Vurderingen er basert på følgende:</p>
        <ul>
          <li class="message-text" *ngFor="let reason of reasons">{{reason}}</li>
        </ul>
      </div>
      <p class="message-text">
        Tusen takk for at du svarte på spørsmålene.
      </p>
    </div>
  </div>
</div>
