<div class="container">


<mat-stepper
  class="example-stepper"
  linear="true"
  [orientation]="(stepperOrientation | async)!" #stepper>

  <mat-step label="Informasjon">

    <h2>Invitasjon til deltakelse i forskningsprosjektet SmaRTWork ved NTNU</h2>


    <p>SmaRTWork er en mobilapp for deg som er sykmeldt på grunn av muskel‑ og skjelettplager som ryggsmerter, nakkesmerter eller utbredte muskelsmerter. I appen får du forskningsbasert kunnskap om muskel- og skjelettplager og tips til hvordan du kan håndtere dem i hverdagen på best mulig måte. Du får også persontilpasset informasjon og veiledning om veien tilbake til arbeid. I tillegg får du treningsøvelser med videoer og anbefalinger om fysisk aktivitet som er tilpasset deg.</p>
    <p>Når du trykker "Neste" vil du få noen spørsmål for å se om studien passer for deg. Deretter fyller du inn navn og kontaktinformasjon. En prosjektmedarbeider vil ringe deg for å svare på eventuelle spørsmål du har om deltakelse i studien, og for å sikre at den er riktig for deg. Du kan når som helst trekke deg fra studien uten å oppgi noen grunn. </p>
    <p>SmaRTWork er et prosjekt som utføres av NTNU i samarbeid med Nav og er finansiert av Norges forskningsråd. Målet med prosjektet er å utvikle og evaluere SmaRTWork appen.</p>
    <p> Du kan lese mer om prosjektet på <a href="https://smartwork.no/" target="_blank" rel="noopener noreferrer">SmaRTWork</a>.
     </p>

    <button mat-raised-button matStepperNext class="form-control" color="primary">Neste</button>
  </mat-step>

  <mat-step  label="Inklusjonskriterier" [completed]="formInclusion.valid && formInclusionCompleted">
    {{formInclusion.errors?.message}}
    <form [formGroup]="formInclusion">
      <h2>Studien har flere kriterier som avgjør om du kan være med som deltager. Hva du svarer på spørsmålene nedenfor avgjør
        om du passer som deltager i studien.</h2>
      <mat-list *ngFor="let q of inclusionQuestions">
        <mat-label class="inclusion-question">{{q.question}}</mat-label>
        <mat-list-item>
          <span *ngFor="let a of q.answers">
            <input class='radio-button' type="radio" [formControlName]="q.id" [value]="a.value" id="inclusion_{{q.id}}.{{a.value}}"
                   required/>
            <label for="inclusion_{{q.id}}.{{a.value}}">{{a.label}}</label>
          </span>
        </mat-list-item>
      </mat-list>
      <section class="nav-buttons">
        <button mat-raised-button matStepperPrevious color="primary">Tilbake</button>
        <button mat-raised-button [disabled]="!formInclusion.valid" (click)="onSubmitInclusion()"
                color="primary">Neste
        </button>
      </section>
    </form>

  </mat-step>

  <mat-step [stepControl]="formRegistration" label="Registrering">
    <p>Takk for at du er interessert i å delta i studien! Etter at du har fylt ut kontaktinformasjonen nedenfor vil en av våre prosjektmedarbeidere ringe deg for å svare på eventuelle spørsmål og bekrefte om studien passer for deg.</p>
    <p>Brukernavnet ditt registreres automatisk og du trenger ikke å huske det.</p>
    <form class="registration-form" [formGroup]="formRegistration">
      <mat-form-field>
        <input matInput [formControl]="registrationControls.emailCtrl" placeholder="e-post"
               autocomplete="e-post"
               type="e-post" required/>
        <mat-error *ngIf="registrationControls.emailCtrl.touched && registrationControls.emailCtrl.errors">
          Ugyldig epost
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="registrationControls.confirmEmailControl" placeholder="bekreft e-post"
                 autocomplete="bekreft e-post"
                 type="bekreft e-post" required
                 (paste)="(false)"/>
        <mat-error *ngIf="registrationControls.confirmEmailControl.touched && registrationControls.confirmEmailControl.errors">
            e-posten stemmer ikke
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="registrationControls.firstnameCtrl" placeholder="Fornavn"
               autocomplete="Fornavn"
               type="text" required/>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="registrationControls.lastnameCtrl" placeholder="Etternavn"
               autocomplete="Etternavn"
               type="text" required/>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="registrationControls.phoneCtrl" placeholder="Mobilnummer"
               autocomplete="tel"
               type="tel" required/>
        <mat-error *ngIf="registrationControls.phoneCtrl.touched && registrationControls.phoneCtrl.errors">
          Ugyldig telefonnummer
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [formControl]="registrationControls.patientIdCtrl" placeholder="Brukernavn"
               autocomplete="Brukernavn"
               type="text" required
               [readonly]="true"/>
      </mat-form-field>

      <section class="nav-buttons">
        <button mat-raised-button matStepperPrevious color="primary">Tilbake</button>
        <button mat-raised-button matStepperNext [disabled]="!formRegistration.valid" (click)="onSubmitRegistration()"
                color="primary">Ferdig
        </button>
      </section>
    </form>
  </mat-step>
</mat-stepper>
</div>
