@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center {
    text-align: center;
}

.container{
    padding: 50px;
    max-width: 1500px;
    margin: auto;
}